{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %} - Hackathon Starter</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	{% block head %} {% endblock %}
	
	<link rel="stylesheet" href="{% static 'core/style.css' %}">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="{% url 'index' %}">
				<i class="fa fa-snowflake" aria-hidden="true"></i>
				Project name
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">

				  {% url 'index' as url %}		
				  <li class="nav-item {% if request.path == url %} active {% endif %}" >
				    <a class="nav-link" href="{{ url }}">Home <span class="sr-only">(current)</span></a>
				  </li>

				  <li class="nav-item">
				    <a class="nav-link" href="#">API Examples</a>
				  </li>

				  <li class="nav-item">
				    <a class="nav-link" href="#">Contact</a>
				  </li>

				</ul>
			</div>
	    </div>
	</nav>

	<i class="fa fa-snowflake-o" aria-hidden="true"></i>
	{% block content %}

	{% endblock %}

	<footer class="footer" class="py-4 bg-dark text-white-50">
	    <div class="container text-center">
	      <small>Copyright &copy; Company. All Rights Reserved</small>
	    </div>
	  </footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>