{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}

{% block title %} Login {% endblock %}

{% block head %} 
	<link rel="stylesheet" href="{% static 'users/style.css' %}">
{% endblock %}

{% block content %}


	<div class="container">
		<div class="card bg-light">
	 	 	<div class="card-header"><h5 class="card-title">Log In</h5></div>
	 		<div class="card-body">
	    	
		    	<form method="post">
				    {% csrf_token %}
				    
				    {{ form|crispy }}
				      
				    
				    <button type="submit" class="btn btn-primary">Log In</button>
				    
				</form>

				<p class="divider-text">
			        <span class="bg-light">or</span>
			    </p>

				<div class="social_login">
			        <a href="{% provider_login_url 'google' %}" class="google btn">
			          <i class="fab fa-google"></i> Login with Google
			        </a>
			    </div>
	  		</div>
		</div>
	</div>

{% endblock %}