{% extends 'core/base.html' %}
{% load static %}

{% block title %} Change password {% endblock %}

{% block head %} 
	<link rel="stylesheet" href="{% static 'users/style.css' %}">
{% endblock %}

{% block content %}
		
	<div class="container success_msg">
		<h2>Password changed successfully!!</h2>
		
			<a type="button" class="btn btn-secondary" href="{% url 'profile' %}">Go to profile</a>
			<a type="button" class="btn btn-secondary" href="{% url 'index' %}">Go to Homepage</a>
	</div>

{% endblock %}