.card {
	max-width: 55%;
    margin: 30px auto;
    float: none;
}

.success_msg{
	text-align: center;
}

.success_msg h2{
	margin-top: 25px;
	margin-bottom: 25px;
}

.success_msg a {
	margin-left: 10px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 15px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.social_login .btn{
	margin-top: 0.5rem;
}

.google {
  background-color: #dd4b39;
}

.google:hover{
	background-color: #cd3623;
}

.social_login{
	text-align: center;
}

.social_login a{
	color: white;
}

.social_login a:hover{
	color: white;
}

.github {
  background-color: #444444;
}

.github:hover{
	background-color: #313131;
}